  /* https://stackoverflow.com/a/61054967/9095603 */
  
  .overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* top: 40%; */
    left: 0px;
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); */
    display: none;
 }
/* .spinner-grow{
 left: 50%; 
 position: absolute; 
 text-align: center; 
 top: 50%;
} */
  /* sticky navbar or button */

  #search-again-btn{
    position: sticky;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
    bottom: 1rem;
    left: 100%;
  }

  

  /* Sarah */

  
/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
  height: 800px;
  width: 100%;
  
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}